@model Laptev_Pham_Customer_Client.Models.Flight

@{
    ViewBag.Title = "DeleteFlightAsync";
}

<h2>Flight deleted</h2>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "UpdateFlight")
</p>
