@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>
        Hi there! Welcome to our small but proud avia company home page!
    </h3>
    <h4>
        You can search and book flights based on your choice preferences
    </h4>


</div>

<div> <h2> CUSTOMER AREA</h2></div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Search for all flights </h3>

        <a class="btn btn-default" href="~/Home/AllFlightsAsync">SEARCH &raquo;</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Search for departing flights from specific city</h3>

        <a class="btn btn-default" href="~/Home/AllFlightsFromSpecificCity">SEARCH &raquo;</a>
    </div>

</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Search for all flights between chosen cities</h3>

        <a class="btn btn-default" href="~/Home/AllFlightsFromCities">SEARCH &raquo;</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Search for departing flights between paricular cities with maximal price desired</h3>

        <a class="btn btn-default" href="~/Home/AllFlightsWithPriceLimit">SEARCH &raquo;</a>
    </div>
</div>


<hr />

<div> <h2> MANAGER AREA</h2></div>


<div class="row">
    <div class="col-md-12">
        <h3>Add flight </h3>

        <a class="btn btn-default" href="~/Home/AddFlight">ADD &raquo;</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>Update flight</h3>

        <a class="btn btn-default" href="~/Home/UpdateFlight">UPDATE/DELETE &raquo;</a>
    </div>
</div>

<hr />



